apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: {{ include "app.fullname" . }}-infisical-secret
  namespace: {{ .Release.Namespace }}
spec:
  hostAPI: {{ .Values.infisical.hostAPI | quote }}
  resyncInterval: {{ .Values.infisical.resyncInterval }}
  authentication:
    kubernetesAuth:
      identityId: "{{ .Values.infisical.identityId }}"
      serviceAccountRef:
        name: "{{ .Values.infisical.serviceAccountName }}"
        namespace: "{{ .Release.Namespace }}"
      autoCreateServiceAccountToken: true
      serviceAccountTokenAudiences:
        - "golang_tutorial"
      secretsScope:
        projectSlug: "{{ .Values.infisical.projectSlug }}"
        envSlug: "{{ .Values.infisical.envSlug }}"
        secretsPath: "{{ .Values.infisical.secretsPath }}"
        recursive: true
  managedKubeSecretReferences:
    - secretName: {{ include "app.fullname" . }}-secret
      secretNamespace: {{ .Release.Namespace }}
      creationPolicy: Owner
      template:
        includeAllSecrets: true
